<html>
	<head>
	<style>
body {
    background-color: lightblue;
}
table, th, td {
    border: 1px solid black;
    text-align: center;
}
th {
	background-color: orange;
	color: white
	
}
</style>
	</head>

	<body>
	<ul>
		<table>
			<tr>
							<th colspan=2>Foto</th>
							<th>GuerreiroZ</th>
							<th>Titulo</tr>
							</tr>
		
		{% if latest_dbz_guerreiro %}
			{% for dbz in latest_dbz_guerreiro %}
			<tr>
			<td colspan=2></td>
			<td>
				{{ dbz.nome }}</td>
			{% endfor %}
		{% endif %}
		{% if titulo %}
				<td>{{ titulo }}</td>
		{% endif %}<br \>
		<br \>
		</tr>
		<tr>
			<th>GuerreiroZ</th>
			<th>Pontos</th>
			<th>GuerreiroZ</th>
			<th>Pontos</th>
		</tr>
		{% if latest_dbz_partidas %}
			{% for dbz_p in latest_dbz_partidas %}
			<tr>		
				<td>{{ dbz_p.gz1 }}</td><td>{{ dbz_p.v1 }}</td> <td>{{ dbz_p.v2 }}</td><td>{{ dbz_p.gz2 }}</td>
				</tr>
			{% endfor %}
		{% endif %}
		{% if latest_dbz_faltaJ %}
		<tr>
		<th colspan=4>Falta lutar com: </th>
		</tr>
			{% for f in latest_dbz_faltaJ %}
			    <tr> <td colspan=4>{{ f.nome }}</td></tr>
			{% endfor %}
		{% endif %}
		</table>
		</ul>
	</body>

</html>