<html>
<head>
 <style>
body {
    background-color: lightblue;
}
table, th, td {
    border: 1px solid black;
    text-align: center;
}
th {
	background-color: orange;
	color: white

}
</style>
</head>

<body>

	{% if latest_dbz_list %}
	<ul>
		<table>
			<tr>
				<th>RANKING</th>
				<th>GUERREIROS Z</th>
				<th>PARTIDAS</th>
				<th>PONTOS</th>
				<th>TITULO</th>
				<th>SEASON</th>
			</tr>
			{% for dbz in latest_dbz_list %}
			<tr>
				<td>{{ dbz.posicao }}</td>
				<td> <a href="/dbz/perfil/{{ dbz.id }}/">{{ dbz.guerreiro }}</a></td>
				<td>{{ dbz.partidas }}</td>
				<td>{{ dbz.pontos }}</td>
				<td>{{ dbz.titulo }}</td>
				<td>{{ dbz.season }}</td>
			</tr>
			{% endfor %}
		</table>
	</ul>
	{% else %}
	<p>Sem jogadores para calcular o rank.</p>
	{% endif %}
</body>
</html>
