<html>
<head>
<style>
body {
	background-color: lightblue;
}

table, th, td {
	border: 1px solid black;
	text-align: center;
}

th {
	background-color: orange;
	color: white
}
</style>
</head>

<body>
	<ul>
		<table>
			<tr>
				<th colspan=2>Foto</th>
				<th>Titulo
			</tr>
			</tr>

			{% if latest_dbz_titulo %} {% for dbz in latest_dbz_titulo %}
			<tr>
				<td colspan=2>{% if foto %} <img src="{{ foto }}" height=150
					width=200 /> {% endif %}
				</td>
				<td>{{ dbz.nome }}</td> {% endfor %} {% endif %}
		</table>
	</ul>
</body>

</html>
