<html>
<head>
<style>
body {
	background-color: lightblue;
}

table, th, td {
	border: 1px solid black;
	text-align: center;
}

th {
	background-color: orange;
	color: white
}
</style>
</head>

<body>
	<ul>
		<table>
			<tr>
				<th colspan=2>Foto</th>
				<th>Titulo</th>
			</tr>
			</tr>

			{% if latest_dbz_titulo %} {% for dbz in latest_dbz_titulo %}
			<tr>
				<td colspan=2> <img src="{{ dbz.foto }}" height=150 width=200 /></td>
				<td>{{ dbz.nome }}</td>
				</tr>
				{% endfor %}
			{% endif %}
		</table>
	</ul>
</body>

</html>
